<!DOCTYPE html>
<html>
<head>
  <title>Shopping Cart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1><%= link_to "My Store", root_path %></h1>
	<h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
<%= yield %>

</body>
</html>
